.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    /* height: 290px; */
    padding-bottom: 5rem;
    text-align: center;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.section{
    width: 80%;
}

.formgroup{
    margin-top: 5.5rem;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.formgroup input{
    width: 400px;
    padding: 1rem 1.5rem;
    outline: 0;
    border: 0;
    background-color: #02182b75;
    /* backdrop-filter: blur(5px); */
    color: white;
}

.formgroup input::placeholder{
    color: white;
 
}

.subform{
    border-radius: 2rem;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.formgroup button{
    height: 38px;
    border: 0;
    background-color: hsl(352, 65%, 45%);
    /* backdrop-filter: blur(5px); */
    padding: 5px;
    color: white;
    cursor: pointer;
}

.formgroup button:hover{
    background-color: hsl(358, 78%, 34%);
}

.cardgroup{
    width: 95%;
    display: flex;
    /* background: #000; */
    background-color: #02182b75;
    /* backdrop-filter: blur(5px); */
    overflow-y: scroll;
    scroll-behavior:smooth;
    height: 25rem;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 5rem;
    border-radius: 2rem;
}


.cardlist{
    width: 25rem;
    height: 35rem;
    background: #02182b75;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    border-radius: 2rem;
    overflow: hidden;
    
}

.cardimage{
    width: 25rem;
    height: 15rem;
    color: white;
    /* background: #000; */
}

.cardimage img{
    width: 25rem;
    height: 25rem;
}

.cardimage button{
    width: 9rem;
    padding: 0.2rem;
    cursor: pointer;
    margin-top: 3rem;
    outline: 0;
    border: 0;
    background: #2874c0fd;
    border-radius: 0.5rem;
    color: white;
}

.cardimage button:hover{
    background: #2265a8fd;
}

::-webkit-scrollbar{
    width: 10px;
}
  
::-webkit-scrollbar-track{
    background: #02182b75;;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background: hsl(352, 65%, 45%);
    border-radius: 30px;
}
  
  
  



